<div class="jumbotron">
  <h1 class="display-4">Why My Line?</h1>
  <p class="lead">Babies are the reason why we are always prepared with a click-ready camera.</p>
  <h2>And because we know it's hard <strong>to keep track </strong> on this sweethearts.</h2>
  <hr class="my-4">
  <p class="justify">
    Here you can tell small stories that shows the highlights of your baby's first stage of life.<br><br>

    You can add Storytellers to help you add and share memories together.<br><br>

    One day your baby will relive all messages people leave in this line, and will be able to continue by himself.<br><br>
  </p>

  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="aligncenter">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/ubdWitOk6zQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <br>

  <a class="nav-item nav-link" routerLink="/profile">Enjoy the ride</a>
</div>

